/*
Animation: Zoom (Top)
*/
@keyframes zoom-top {
  0%{
    visibility: hidden;
    opacity: 0;
    transform: scale(0.8) translateY(-9px) translateX(50%);
  }
  100%{
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateY(-9px) translateX(50%);
  }
}

/*
Animation: Zoom (Top) (Reverse)
*/
@keyframes zoom-top-rev {
  0%{
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateY(-9px) translateX(50%);
  }
  100%{
    visibility: hidden;
    opacity: 0;
    transform: scale(0.8) translateY(-9px) translateX(50%);
  }
}

/*
Animation: Zoom (Right)
*/
@keyframes zoom-right {
  0%{
    visibility: hidden;
    opacity: 0;
    transform: scale(0.8) translateX(9px) translateY(-50%);
  }
  100%{
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateX(9px) translateY(-50%);
  }
}

/*
Animation: Zoom (Right) (Reverse)
*/
@keyframes zoom-right-rev {
  0%{
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateX(9px) translateY(-50%);
  }
  100%{
    visibility: hidden;
    opacity: 0;
    transform: scale(0.8) translateX(9px) translateY(-50%);
  }
}

/*
Animation: Zoom (Bottom)
*/
@keyframes zoom-bottom {
  0%{
    visibility: hidden;
    opacity: 0;
    transform: scale(0.8) translateY(9px) translateX(50%);
  }
  100%{
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateY(9px) translateX(50%);
  }
}

/*
Animation: Zoom (Bottom) (Reverse)
*/
@keyframes zoom-bottom-rev {
  0%{
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateY(9px) translateX(50%);
  }
  100%{
    visibility: hidden;
    opacity: 0;
    transform: scale(0.8) translateY(9px) translateX(50%);
  }
}


/*
Animation: Zoom (Left)
*/
@keyframes zoom-left {
  0%{
    visibility: hidden;
    opacity: 0;
    transform: scale(0.8) translateX(-9px) translateY(-50%);
  }
  100%{
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateX(-9px) translateY(-50%);
  }
}

/*
Animation: Zoom (Left) (Reverse)
*/
@keyframes zoom-left-rev {
  0%{
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateX(-9px) translateY(-50%);
  }
  100%{
    visibility: hidden;
    opacity: 0;
    transform: scale(0.8) translateX(-9px) translateY(-50%);
  }
}

/*
Animation: Fade (Top)
*/
@keyframes fade-top {
  0%{
    visibility: hidden;
    opacity: 0;
    transform: scale(1) translateY(-9px) translateX(50%);
  }
  100%{
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateY(-9px) translateX(50%);
  }
}
/*
Animation: Fade (Top) (Reverse)
*/
@keyframes fade-top-rev {
  0%{
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateY(-9px) translateX(50%);
  }
  100%{
    visibility: hidden;
    opacity: 0;
    transform: scale(1) translateY(-9px) translateX(50%);
  }
}


/*
Animation: Fade (Right)
*/
@keyframes fade-right {
  0%{
    visibility: hidden;
    opacity: 0;
    transform: scale(1) translateX(9px) translateY(-50%);
  }
  100%{
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateX(9px) translateY(-50%);
  }
}

/*
Animation: Fade (Right) (Reverse)
*/
@keyframes fade-right-rev {
  0%{
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateX(9px) translateY(-50%);
  }
  100%{
    visibility: hidden;
    opacity: 0;
    transform: scale(1) translateX(9px) translateY(-50%);
  }
}

/*
Animation: Fade (Bottom)
*/
@keyframes fade-bottom {
  0%{
    visibility: hidden;
    opacity: 0;
    transform: scale(1) translateY(9px) translateX(50%);
  }
  100%{
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateY(9px) translateX(50%);
  }
}

/*
Animation: Fade (Bottom) (Reverse)
*/
@keyframes fade-bottom-rev {
  0%{
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateY(9px) translateX(50%);
  }
  100%{
    visibility: hidden;
    opacity: 0;
    transform: scale(1) translateY(9px) translateX(50%);
  }
}

/*
Animation: Fade (Left)
*/
@keyframes fade-left {
  0%{
    visibility: hidden;
    opacity: 0;
    transform: scale(1) translateX(-9px) translateY(-50%);
  }
  100%{
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateX(-9px) translateY(-50%);
  }
}

/*
Animation: Fade (Left) (Reverse)
*/
@keyframes fade-left-rev {
  0%{
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateX(-9px) translateY(-50%);
  }
  100%{
    visibility: hidden;
    opacity: 0;
    transform: scale(1) translateX(-9px) translateY(-50%);
  }
}

/*
Animation: slide (Top)
*/
@keyframes slide-top {
  0%{
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transform: scale(1) translateY(32px) translateX(50%);
  }
  99%{
    visibility: visible;
    opacity: 1;
    z-index: 0;
    transform: scale(1) translateY(-9px) translateX(50%);
  }
  100%{
    visibility: visible;
    opacity: 1;
    z-index: 2;
    transform: scale(1) translateY(-9px) translateX(50%);
  }
}

/*
Animation: slide (Top) (Reverse)
*/
@keyframes slide-top-rev {
  0%{
    visibility: visible;
    opacity: 1;
    z-index: 2;
    transform: scale(1) translateY(-9px) translateX(50%);
  }
  1%{
    visibility: visible;
    opacity: 1;
    z-index: 0;
    transform: scale(1) translateY(-9px) translateX(50%);
  }
  
  100%{
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transform: scale(1) translateY(32px) translateX(50%);
  }
}

/*
Animation: Slide (Right)
*/
@keyframes slide-right {
  0%{
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transform: scale(1) translateX(-32px) translateY(-50%);
  }
  99%{
    visibility: visible;
    opacity: 1;
    z-index: 0;
    transform: scale(1) translateX(9px) translateY(-50%);
  }
  100%{
    visibility: visible;
    opacity: 1;
    z-index: 2;
    transform: scale(1) translateX(9px) translateY(-50%);
  }
}

/*
Animation: Slide (Right) (Reverse)
*/
@keyframes slide-right-rev {
  0%{
    visibility: visible;
    opacity: 1;
    z-index: 2;
    transform: scale(1) translateX(9px) translateY(-50%);
  }
  1%{
    visibility: visible;
    opacity: 1;
    z-index: 0;
    transform: scale(1) translateX(9px) translateY(-50%);
  }
  100%{
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transform: scale(1) translateX(-32px) translateY(-50%);
  }
}

/*
Animation: Slide (Bottom)
*/
@keyframes slide-bottom {
  0%{
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transform: scale(1) translateY(-32px) translateX(50%);
  }
  99%{
    visibility: visible;
    opacity: 1;
    z-index: 0;
    transform: scale(1) translateY(9px) translateX(50%);
  }
  100%{
    visibility: visible;
    opacity: 1;
    z-index: 2;
    transform: scale(1) translateY(9px) translateX(50%);
  }
}

/*
Animation: Slide (Bottom) (Reverse)
*/
@keyframes slide-bottom-rev {
  0%{
    visibility: visible;
    opacity: 1;
    z-index: 2;
    transform: scale(1) translateY(9px) translateX(50%);
  }
  1%{
    visibility: visible;
    opacity: 1;
    z-index: 0;
    transform: scale(1) translateY(9px) translateX(50%);
  }
  
  100%{
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transform: scale(1) translateY(-32px) translateX(50%);
  }
}

/*
Animation: Slide (Left)
*/
@keyframes slide-left {
  0%{
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transform: scale(1) translateX(32px) translateY(-50%);
  }
  99%{
    visibility: visible;
    opacity: 1;
    z-index: 0;
    transform: scale(1) translateX(-9px) translateY(-50%);
  }
  100%{
    visibility: visible;
    opacity: 1;
    z-index: 2;
    transform: scale(1) translateX(-9px) translateY(-50%);
  }
}
/*
Animation: Slide (Left) (Reverse)
*/
@keyframes slide-left-rev {
  0%{
    visibility: visible;
    opacity: 1;
    z-index: 2;
    transform: scale(1) translateX(-9px) translateY(-50%);
  }
  1%{
    visibility: visible;
    opacity: 1;
    z-index: 0;
    transform: scale(1) translateX(-9px) translateY(-50%);
  }
  100%{
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transform: scale(1) translateX(32px) translateY(-50%);
  }
}

:host{
  position: relative;
  display: block;
  float: left;
  clear: left;
  at-trigger{
    position: relative;
    display: block;
    float: left;
    clear: left;
    z-index: 1;
  }
  at-tooltip{
    z-index: 2;
    position: absolute;
    height: 30px;
    padding: 5px 9px;
    background-color: rgb(50,50,50);
    font-size: 15px;
    color: white;
    line-height: 20px;
    font-weight: 500;
    text-transform: none;
    white-space: nowrap;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    &.top{
      transform: scale(0.8) translateY(-9px) translateX(50%);
      right: 50%;
      bottom: 100%;
      transform-origin: right;
    }
    &.right{
      transform: scale(0.8) translateX(9px) translateY(-50%);
      left: 100%;
      top: 50%;
      transform-origin: left center;
    }
    &.bottom{
      transform: scale(0.8) translateY(9px) translateX(50%);
      right: 50%;
      top: 100%;
      transform-origin: right;
    }
    &.left{
      transform: scale(0.8) translateX(-9px) translateY(-50%);
      right: 100%;
      top: 50%;
      transform-origin: right center;
    }
  }
  &.at-active{
    at-tooltip{
      &.zoom{
        &.top{
          animation: zoom-top 0.15s ease forwards;
        }
        &.right{
          animation: zoom-right 0.15s ease forwards;
        }
        &.bottom{
          animation: zoom-bottom 0.15s ease forwards;
        }
        &.left{
          animation: zoom-left 0.15s ease forwards;
        }
      }
      &.fade{
        &.top{
          animation: fade-top 0.15s ease forwards;
        }
        &.right{
          animation: fade-right 0.15s ease forwards;
        }
        &.bottom{
          animation: fade-bottom 0.15s ease forwards;
        }
        &.left{
          animation: fade-left 0.15s ease forwards;
        }
      }
      &.slide{
        &.top{
          animation: slide-top 0.25s ease forwards;
        }
        &.right{
          animation: slide-right 0.25s ease forwards;
        }
        &.bottom{
          animation: slide-bottom 0.25s ease forwards;
        }
        &.left{
          animation: slide-left 0.25s ease forwards;
        }
      }
    }
  }
  &.at-deactivate{
    at-tooltip{
      &.zoom{
        &.top{
          animation: zoom-top-rev 0.15s ease forwards;
        }
        &.right{
          animation: zoom-right-rev 0.15s ease forwards;
        }
        &.bottom{
          animation: zoom-bottom-rev 0.15s ease forwards;
        }
        &.left{
          animation: zoom-left-rev 0.15s ease forwards;
        }
      }
      &.fade{
        &.top{
          animation: fade-top-rev 0.25s ease forwards;
        }
        &.right{
          animation: fade-right-rev 0.25s ease forwards;
        }
        &.bottom{
          animation: fade-bottom-rev 0.25s ease forwards;
        }
        &.left{
          animation: fade-left-rev 0.25s ease forwards;
        }
      }
      &.slide{
        &.top{
          animation: slide-top-rev 0.25s ease forwards;
        }
        &.right{
          animation: slide-right-rev 0.25s ease forwards;
        }
        &.bottom{
          animation: slide-bottom-rev 0.25s ease forwards;
        }
        &.left{
          animation: slide-left-rev 0.25s ease forwards;
        }
      }
    }
  }
}