<header>
  <div class="title">
    <h1>angular-tooltip</h1>
  </div>
  <div class="subtitle">
    <h2>An easy-to-use Angular (6+) directive for displaying tooltips <span class="emoji">🍒</span></h2>
  </div>
  <div class="author">
    <p>by <a href="">Gustaf Gunér</a></p>
  </div>
</header>

<div class="features">
  <div class="feature">
    <div class="title">
      <h3>Installation</h3>
    </div>
  </div>
  <div class="feature">
    <div class="title">
      <h3>Different positions</h3>
    </div>
    <div class="buttons">
      <a class="btn" href="" tooltip-test tooltip-text="hej" tooltip-direction="left">Left</a>
      <a class="btn" href="" tooltip-test tooltip-text="hej" tooltip-direction="top">Top</a>
      <a class="btn" href="" tooltip-test tooltip-text="hej" tooltip-direction="bottom">Bottom</a>
      <a class="btn" href="" tooltip-test tooltip-text="hej" tooltip-direction="right">Right</a>
    </div>
  </div>
  <div class="feature">
      <div class="title">
        <h3>Different effects</h3>
      </div>
      <div class="buttons">
        <a class="btn" href="" tooltip-test tooltip-text="hej" tooltip-direction="left">Zoom</a>
        <a class="btn" href="" tooltip-test tooltip-text="hej" tooltip-direction="top">Fade</a>
      </div>
    </div>
</div>

