<header>
  <div class="title">
    <h1>angular-tooltip</h1>
  </div>
  <div class="subtitle">
    <h2>An easy-to-use Angular (6+) component for displaying tooltips <span class="emoji">🍒</span></h2>
  </div>
  <div class="author text-content">
    <p>by <a href="https://github.com/gustafguner" target="_blank">Gustaf Gunér</a></p>
  </div>
  <div class="links">
    <a class="btn gray" href="https://github.com/gustafguner/angular-tooltip" target="_blank"><span class="text">View on GitHub</span><span class="icon"><img src="./assets/github-logo.svg"></span></a>
  </div>
</header>

<div class="features">
  <div class="feature">
    <div class="header">
      <div class="title">
        <h3>Installation</h3>
      </div>
    </div>
    <div class="bash">
      <pre><span class="dollar">$</span><span>npm install --save @gustafguner/angular-tooltip</span></pre>
    </div>
  </div>
  <div class="feature">
    <div class="header">
      <div class="title">
        <h3>Positions</h3>
      </div>
    </div>
    <div class="buttons">
      <angular-tooltip tooltip-text="A tooltip ✌️" tooltip-direction="left"><a class="btn" href="">Left</a></angular-tooltip>
      <angular-tooltip tooltip-text="A tooltip ✌️" tooltip-direction="top"><a class="btn" href="">Top</a></angular-tooltip>
      <angular-tooltip tooltip-text="A tooltip ✌️" tooltip-direction="bottom"><a class="btn" href="">Bottom</a></angular-tooltip>
      <angular-tooltip tooltip-text="A tooltip ✌️" tooltip-direction="right"><a class="btn" href="">Right</a></angular-tooltip>
    </div>
  </div>
  <div class="feature">
    <div class="header">
      <div class="title">
        <h3>Effects</h3>
      </div>
    </div>

    <div class="buttons">
      <angular-tooltip tooltip-text="A tooltip ✌️" tooltip-direction="top"><a class="btn" href="">Zoom</a></angular-tooltip>
      <angular-tooltip tooltip-text="A tooltip ✌️" tooltip-direction="top" tooltip-effect="fade"><a class="btn" href="">Fade</a></angular-tooltip>
      <angular-tooltip tooltip-text="A tooltip ✌️" tooltip-direction="top" tooltip-effect="slide"><a class="btn" href="">Slide</a></angular-tooltip>
    </div>
  </div>
</div>

<footer>
  <div class="text-content">
    <p>by <a href="https://github.com/gustafguner">Gustaf Gunér</a></p>  
  </div>
</footer>