<header class="page-content">
  <div class="title">
    <h1>angular-tooltip</h1>
  </div>
  <div class="subtitle">
    <h2>An easy-to-use Angular (6+) component for displaying tooltips <span class="emoji">🍒</span></h2>
  </div>
  <div class="author text-content">
    <p>by <a href="https://github.com/gustafguner" target="_blank">Gustaf Gunér</a></p>
  </div>
  <div class="links">
    <a class="btn gray" href="https://github.com/gustafguner/angular-tooltip" target="_blank"><span class="text">View on GitHub</span><span class="icon"><img src="./assets/github-logo.svg"></span></a>
  </div>
</header>

<div class="features page-content">
  <div class="feature">
    <div class="header">
      <div class="title">
        <h3>Installation</h3>
      </div>
    </div>
    <div class="bash">
      <pre><span class="dollar">$</span><span>npm install --save @gustafguner/angular-tooltip</span></pre>
    </div>
  </div>
  <div class="feature">
    <div class="header">
      <div class="title">
        <h3>Positions</h3>
      </div>
    </div>
    <div class="buttons">
      <angular-tooltip tooltip-text="A tooltip ✌️" tooltip-direction="left"><button class="btn">Left</button></angular-tooltip>
      <angular-tooltip tooltip-text="A tooltip ✌️" tooltip-direction="top"><button class="btn">Top</button></angular-tooltip>
      <angular-tooltip tooltip-text="A tooltip ✌️" tooltip-direction="bottom"><button class="btn">Bottom</button></angular-tooltip>
      <angular-tooltip tooltip-text="A tooltip ✌️" tooltip-direction="right"><button class="btn">Right</button></angular-tooltip>
    </div>
  </div>
  <div class="feature">
    <div class="header">
      <div class="title">
        <h3>Effects</h3>
      </div>
    </div>

    <div class="buttons">
      <angular-tooltip tooltip-text="A tooltip ✌️" tooltip-direction="top"><button class="btn">Zoom</button></angular-tooltip>
      <angular-tooltip tooltip-text="A tooltip ✌️" tooltip-direction="top" tooltip-effect="fade"><button class="btn">Fade</button></angular-tooltip>
      <angular-tooltip tooltip-text="A tooltip ✌️" tooltip-direction="top" tooltip-effect="slide"><button class="btn">Slide</button></angular-tooltip>
    </div>
  </div>
</div>

<footer class="page-content">
  <div class="text-content">
    <p>by <a href="https://github.com/gustafguner">Gustaf Gunér</a></p>  
  </div>
</footer>