@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');
body{
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*{

}

.btn{
  width: 140px;
  height: 50px;
  background-color: #3498db;
  display: block;
  border-radius: 7px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin: 0 auto;
}

.at-container{
  position: relative;
  .at-tooltip{
    position: absolute;
    display: none;
    background-color: rgb(50,50,50);
    height: 20px;
    font-size: 13px;
    color: white;
    line-height: 20px;
    text-transform: none;
    padding: 4px 7px;
    border-radius: 4px;
    &.top{
      transform: translateY(-6px) translateX(50%);
      right: 50%;
      bottom: 100%;
    }
    &.right{
      transform: translateX(6px) translateY(-50%);
      left: 100%;
      top: 50%;
    }
    &.bottom{
      transform: translateY(6px) translateX(50%);
      right: 50%;
      top: 100%;
    }
    &.left{
      transform: translateX(-6px) translateY(-50%);
      right: 100%;
      top: 50%;
    }
  }
  &.at-active{
    .at-tooltip{
      display: block;
    }
  }
}