@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');
body{
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*{

}

.btn{
  width: 140px;
  height: 50px;
  background-color: #3498db;
  display: block;
  border-radius: 7px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin: 0 auto;
}

.at-container{
  position: relative;
  .at-tooltip{
    position: absolute;
    transition: all 0.2s ease;
    background-color: rgb(50,50,50);
    height: 20px;
    font-size: 14px;
    color: white;
    line-height: 20px;
    text-transform: none;
    padding: 5px 9px;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    white-space: nowrap;
    &.top{
      transform: translateY(-9px) translateX(50%);
      right: 50%;
      bottom: 100%;
    }
    &.right{
      transform: translateX(9px) translateY(-50%);
      left: 100%;
      top: 50%;
    }
    &.bottom{
      transform: scale(0.8) translateY(9px) translateX(50%);
      right: 50%;
      top: 100%;
      transform-origin: right;
    }
    &.left{
      transform: translateX(-9px) translateY(-50%);
      right: 100%;
      top: 50%;
    }
  }
  &.at-active{
    .at-tooltip{
      visibility: visible;
      opacity: 1;
      transform: scale(1) translateY(9px) translateX(50%);
    }
  }
}